{% extends 'loginTemp/login.html' %}
{% load static %} 
{% block content %}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
            </div>
            <div style="position: relative; top:-80px" dir="rtl">

                <h3 >تم ارسال رابط تغيير كلمة المرور الى البريد الالكتروني ، الرجاء التحقق من البريد الالكتروني .</h3>
                <br>

                <a class="txt2" href="{% url 'login_page' %}">العودة الى صفحة تسجيل الدخول</a>
            </div>


            
{%endblock%}