{% load static %} 
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>الرئيسية</title>
    <script src="https://kit.fontawesome.com/4ab1af8d29.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href={% static '/css/ziyad/style.css' %}/>
  </head>
  <body>
    <div class="search-input-container">
      <input type="text" placeholder="Search here..." />
    </div>

    <div class="mobile-menu-container">
      <div class="logo-container">
        <div class="close-icon">
          <img src={% static '/css/ziyad/images/close-icon.svg' %} alt="" />
        </div>
      </div>

      <div class="mobile-menu-items">
        <a href="{% url 'my_index'  %}">الرئيسية</a>
        <a href="{% url 'contact_us'  %}">تواصل معنا</a>
        <a href="{% url 'about_us'  %}">من نحن؟</a>


      </div>
    </div>

    <nav>
      <div class="wrapper">

        <div class="menu-items">
          <a href="{% url 'contact_us'  %}">تواصل معنا <i class="fa fa-fw fa-envelope"></i></a>
          <a href="{% url 'about_us'  %}" >من نحن؟ <i class="fa-solid fa-circle-info"></i></a>
          <a href="{% url 'my_index'  %}">  الرئيسية <i class="fa fa-fw fa-home"></i></a>
          

        </div>

        <div class="menu-icon">
          <img src={% static '/css/ziyad/images/menu-icon.svg' %} alt="" />
        </div>
      </div>
    </nav>

    <main class="hero-section">
      <div class="wrapper">
        <div class="left">
          <h1 class="subject">مقدمة</h1>
          <p>
            يتيح لك هذا النظام معرفة آراء الناس ومشاعرهم حول موضوع معين,
            يمكنك البحث عن أي موضوع شائع في تطبيق تويتر
            ومعرفة مدى رضا الناس حول هذا الموضوع سواء كان
            <span style="color: green; ">ايجابي</span>, 
            <span style="color: brown;">سلبي</span> او 
            <span style="color:cadetblue ;">محايد</span>
            
             
          </p>
          <a href="{% url 'login_page'  %}" class="btn">قم بتجربته</a>
        </div>
        </div>
        </div>
      </div>


    </main>

    <script src={% static '/css/ziyad/main.js' %} ></script>
  </body>
</html>
